.divi1{
    text-align: center;
    margin-top: 200px;
    margin-bottom: 270px;
}

.Form4{
    margin-left: 600px;
    text-align: left ;
    margin-right: 600px;
}
.Form5{
    margin-left: 600px;
    text-align: left ;
    margin-right: 600px;
    width: 30 !important;
}
.head1{
    text-align: center;
}
.butn1{
    width: 20em;
}
.txt0{
    margin-left: 3px;
}